<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <TestRunParameters>
        <Parameter name="BLUESKY_TEST_FEED_GENERATOR" value="" />
        <Parameter name="BLUESKY_TEST_HANDLE" value="" />
        <Parameter name="BLUESKY_TEST_HANDLE_2" value="" />
        <Parameter name="BLUESKY_TEST_POST_THREAD" value="" />
        <Parameter name="BLUESKY_TEST_QUOTE_POST" value="" />
        <Parameter name="BLUESKY_TEST_QUOTE_POST_2" value="" />
        <Parameter name="BLUESKY_TEST_IMAGES_POST" value="" />
        <Parameter name="BLUESKY_TEST_EXTERNAL_POST" value="" />
        <Parameter name="BLUESKY_TEST_MEDIA_POST" value="" />
        <Parameter name="BLUESKY_TEST_DID" value="" />
        <Parameter name="BLUESKY_TEST_DID_2" value="" />
        <Parameter name="BLUESKY_TEST_FOLLOW_DID" value="" />
        <Parameter name="BLUESKY_TEST_BLOCK_DID" value="" />
        <Parameter name="BLUESKY_TEST_PASSWORD" value="" />
        <Parameter name="BLUESKY_INSTANCE_URL" value="" />
    </TestRunParameters>
</RunSettings>