@inherits LayoutComponentBase

<div>
  <div style="display: flex; align-items: flex-start;">
    <a href="/">
            <img src="images/FishyFlipLogo.png" alt="FishyFlip" width=130>
    </a>
        <div style="padding-left: 15px;">
            <h1 style="font-weight: bold;">FishyFlip</h1>
            <span>
                <NavLink href="">Home</NavLink>
                <NavLink href="firehose">Firehose</NavLink>
            </span>
        </div>
  </div>
</div>
<hr>

<main>
    @Body
</main>
